*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 62.5%;
}
/***** Header ********/
.header{
    min-width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 6rem;
    font-family: 'Comfortaa','Courier New', Courier, monospace;
    color: #000;
    border-bottom: 1px solid #eee;
}
.img-name{
    display: flex;
    align-items: center;
}
.img-name img{
    width: 7rem;
    border-radius: 50%;
    margin: 0.3rem;
}
.nav ul{
    display: flex;
    align-items: center;
    font-size: 4rem;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin-right: 2em;
    color: inherit;

}
.ham-menu{
    display: none;
    margin-right: 1em ;
}
.ham-menu-content{
    min-width: 100vw;
    text-align: right;
    font-family: 'Comfortaa','Courier New', Courier, monospace;
    display: none;
    position: absolute;
}
.ham-menu-content ul{
    min-height: inherit;
    font-size: 4rem;
}
.ham-menu-content ul li{
    border-bottom: 1px solid #eee;
}
.ham-menu-content ul li a{
    text-decoration: none;
    min-width: inherit;
    margin-right: 1em;
    color: #000;
}
@media only screen and (width < 768px){
    .nav ul{
        display: none;
    }
    .ham-menu{
        display: block;
    }     
}

/********introduction page**********/
.intro{
    background-image: url(./resources/cool-background.png);
    background-size: cover;
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa' , sans-serif;
}
.intro{
    width: 100%;
    min-height: 85vh;

}
.intro h2{
    font-size: 5rem;
    padding: 4em 0 1em 0;
}
.intro p{
    font-size: 3rem;
}