*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 62.5%;
}
/***** Header ********/
.header{
    min-width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 6rem;
    font-family: 'Comfortaa','Courier New', Courier, monospace;
    color: #000;
    border-bottom: 1px solid #eee;
}
.img-name{
    display: flex;
    align-items: center;
}
.img-name img{
    width: 7rem;
    border-radius: 50%;
    margin: 0.3rem;
}
.nav ul{
    display: flex;
    align-items: center;
    font-size: 4rem;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin-right: 2em;
    color: inherit;

}
.ham-menu{
    display: none;
    margin-right: 1em ;
}
.ham-menu-content{
    min-width: 100vw;
    text-align: right;
    font-family: 'Comfortaa','Courier New', Courier, monospace;
    display: none;
    position: absolute;
    background-color: #eee;
}
.ham-menu-content ul{
    min-height: inherit;
    font-size: 4rem;
}
.ham-menu-content ul li{
    border-bottom: 1px solid #eee;
}
.ham-menu-content ul li a{
    text-decoration: none;
    min-width: inherit;
    margin-right: 1em;
    color: #000;
}
@media only screen and (width < 768px){
    .nav ul{
        display: none;
    }
    .ham-menu{
        display: block;
    }     
}

/********introduction page**********/
.intro{
    background-image: url(./resources/cool-background.png);
    background-size: cover;
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa' , sans-serif;
}
.intro{
    width: 100%;
    min-height: 85vh;

}
.intro h2{
    font-size: 5rem;
    padding: 4em 0 1em 0;
    font-weight: 1000;
}
.intro p{
    font-size: 3rem;
}
@media only screen and (width < 768px){
    .intro h2{
        font-size: 3rem;
    }
    .intro p{
        font-size:  1rem;
    }
}



/*******About Me********/
.about-and-skills{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5rem;
    width: 100vw;
    font-family: 'Comfortaa' , sans-serif;
    text-align: center;
}
.about-and-skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    width: 100%;
}
.about-and-skills-heading h3{
    font-size: 5rem;
    padding: 1em 0 2em 0;
    font-weight: 1000;
}
.about-and-skills-heading p{
    font-size: 2rem;
}
.about h3{
    font-family: 'Comfortaa' , sans-serif;
    font-size: 3rem;
    padding: 1em 0 1em 0;
    font-weight: 1000;
}
.about p{
    font-family: 'Caveat' , cursive;
    font-size: 2rem;
    padding: 0 1em;
    line-height: 4rem;
}
.about p span{
    font-weight: 1000;
    color: darkgreen;
}
.skills h3{
    font-family: 'Comfortaa' , sans-serif;
    font-size: 3rem;
    padding: 1em 0 1em 0;
    font-weight: 1000;
}
.skills{
    justify-content: space-around;
}
.skill{
    display: inline-block;
    font-family: 'Comfortaa' , sans-serif;
    width: 20rem;
    padding: 2rem 0;
    margin: 2rem;
    font-size: 20em;
    background-color: rgb(62, 83, 244);
}
@media only screen and (width < 768px){
    .about-and-skills{
        display: block;
    }
    .about-and-skills-content{
        display: block;
    }
    .about-and-skills-heading h3{
        font-size: 3rem;
    }
    .about-and-skills-heading p{
        font-size: 1.5rem;
    }
    .skill{
        width: 10rem;
        font-size: 10em;
    }
}

/**********CONTACT*********/
.contact h3{
    font-family: 'Comfortaa' , sans-serif;
    font-size: 3rem;
    padding: 1em 0 1em 0;
    font-weight: 1000;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}
.contact .icons a img {
    width: 8rem;

}
@media only screen and (width < 768px){
    .contact .icons a img{
        width: 5rem;
    }
}

/*********Footer*********/
.footer{
    background-color: #000;
    font-family: 'Comfortaa' , sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}
.footer-text{
    border-bottom: 1px solid #eee;
    padding: 2rem;
}
.footer-text h5{
    font-size: 3rem;
    padding: 1rem;
}
.footer-text p{
    font-size: 1rem;
}
.footer p{
    font-size: 1.5rem;
    padding: 1rem;
}
.footer p a{
    color: #fff;
}
@media only screen and (width < 768px){
    .footer-text h5{
        font-size: 2rem;
    }
    .footer-text p{
        font-size: 0.9rem;
    }
    .footer p{
        font-size: 0.8rem;
    }
}